
networks:
  dns-network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.25.0.0/24
services:
  adguardhome:
    image: 'adguard/adguardhome:latest'
    container_name: 'adguard'
    hostname: 'adguard'
    restart: 'unless-stopped'
    volumes:
      - '/adguard/etc/localtime:/etc/localtime:ro'
      - '/adguard/work:/opt/adguardhome/work'
      - '/adguard/config:/opt/adguardhome/conf'
    networks:
      dns-network:
        ipv4_address: 172.25.0.2
    ports:
      # Plain DNS
      - '53:53/tcp'
      - '53:53/udp'
      # AdGuard Home Admin Panel as well as DNS-over-HTTPS
      - '80:80/tcp'
      - '443:443/tcp'
      - '443:443/udp'
      - '3000:3000/tcp'
      # DNS-over-TLS
      - '853:853/tcp'
      # DNS-over-QUIC
      - '784:784/udp'
      - '853:853/udp'
      - '8853:8853/udp'
      # DNSCrypt
      - '5443:5443/tcp'
      - '5443:5443/udp'
  alpine:
    image: 'alpine:latest'
    container_name: 'alpine-dns-test'
    hostname: 'alpine-dns-test'
    restart: 'unless-stopped'
    command: >
      sh -c "
      apk add --no-cache bind-tools curl &&
      while true; do sleep 3600; done
      "
    networks:
      dns-network:
        ipv4_address: 172.25.0.10
    depends_on:
      - adguardhome
    dns:
      - 172.25.0.2